.benefits {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bcg-color-secondary);
    border-radius: 4px;
  }

  &__text {
    color: var(--text-color-secondary);
    text-transform: none;
    line-height: 1.7;
  }
}

@media screen and(max-width:767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
