


.clients__link {
  width: 100%;
  height: auto;
  border: 1px solid var(--links-color);
  border-radius: 4px;
  color: var(--links-color);
  @include transition (color, border-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
