.team {
  background-color: var(--bcg-color-secondary);

  &__item {
    background-color: var(--bcg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__member-photo {
    margin-bottom: 30px;
    display: block;
    max-width: 100%;
  }

  &__member-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__member-position {
    margin-bottom: 16px;
    color: var(--text-color-secondary);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .team__item {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    padding-bottom: 30px;
  }
}