.icon {
  fill: currentColor;

  &--after {
    margin-left: 10px;
  }

  .input__field:focus + & {
    color: var(--accent-color);
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  @include transition (color);
}

.icon-checked {
  fill: transparent;
  @include transition (fill);

  .policy__checkbox-original:checked + .policy__custom-chechbox & {
    fill: var(--bcg-color);
  }
}
