.subscription {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include tablet{
    flex-direction: column;
  }

  @include desktop{
    margin-left: auto;
  }

  &__cta {
    text-align: center;
    margin-bottom: 20px;
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--bcg-color);

    @include desktop{
      text-align: start;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include tablet{
      flex-direction: column;
    }

    @include desktop{
      flex-direction: row;
    }
  }
}

.subscription__email-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: var(--button-shadow);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  @include tablet{
    display: block;
    width: 450px;
  }

  @include desktop{
    width: 358px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}
