:root {
  --bcg-color: #ffffff;
  --bcg-color-secondary: #f5f4fa;
  --dark-bcg-color: #2f303a;
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --text-color-secondary: #757575;
  --regular-text-color: #000000;
  --btn-hover-color: #188ce8;
  --img-bcg-color: #c4c4c4;
  --links-color: #afb1b8;
  --overlay-color: rgba(33, 150, 243, 0.9);

  --standard-margin: 50px;
  --button-shadow: box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --typical-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}